# dependencies
node_modules/

# npm pack / publish output
*.tgz

# generated shell completions
/completions/

# editor
.idea/
.vscode/

# OS
.DS_Store

# run example
!examples/source/小魔女学园 [2017][TV]/dantalian.toml
!examples/source/[dantalian][202104][奇巧计程车ODD TAXI][01-13合集][BDRip][1080p]/dantalian.toml
examples/source/**/*.nfo
examples/source/**/*.toml

# direnv
.direnv/
.envrc
result
